@import (css)
  url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./color.less";
@import "./media.less";

.headingText {
    font-size: 24px;
    font-weight: bolder;
}

.headers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2vh;
}

.container {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    padding: 5vh 5vw;
    color: @text-color;
    overflow-y: hidden;
    background-color: #111827;
    letter-spacing: 0.1em;
    font-size: 15px;
    box-sizing: border-box;
}

p > span {
    color: @second-color;
    font-weight: bold;
}

.tableMarketPlace {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.rarity {
    border-right: 1px solid @text-color;
    border-left: 1px solid @text-color;
    border-top: 1px solid @text-color;
}

.rareStar {
    border-bottom: 1px solid @text-color;
    padding: 10px;
    text-align: center;
}

.minePowerPrice {
    display: grid;
}

.minePower {
    grid-area: minepower;
    display: grid;
    
    & > div {
        padding: 10px;
        border-bottom: 1px solid @text-color;
        display: grid;
        grid-template-columns: 1fr 1fr;
        line-height: 20px;

        p {
            padding: 0;
            margin: 0;
        }

        del {
            color: rgb(170, 40, 40);

            &::after {
                content: "🔥"
            }

            &::before {
                content: "🔥"
            }
        }
    }
}

.ETLPriceWorker {
    color: @second-color;
    text-align: right;
    cursor: pointer;

    span {
        font-size: 10px;
        font-weight: lighter;
        color: @text-color;
    }
}

.footNote {
    margin-top: 20px;
    font-size: 11px;
}

.yourMP {
    margin-top: 20px;

    & p > span {
        color: @second-color;
    }

    input {
        border: none;
        line-height: 1.5;
        width: 20vw;
    }
}