// @import (css) url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import (css) url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@main-color: #011627;
@accent-color: lighten(@main-color, 70);
@sub-color: lighten(@main-color, 15);
@text-color: #fff;
@alt-text-color: rgb(209, 198, 198);

.particles {
  background-color: darken(@main-color, 6);
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.headingText {
  font-size: 24px;
  font-weight: bolder;
}

.container {
  // font-family: 'Space Grotesk', sans-serif;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  grid-template-columns: 70px 1fr;
  gap: 10px;
  padding: 10vh 15vw;
  color: @text-color;
  overflow-y: hidden;
}

.innerBox {
  width: 100%;
  // background-color: @sub-color;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.homeContent,
.rightContent,
.mainContent {
  padding: 20px;
}

.rightContent {
  padding-top: 30px;
  display: grid;
  grid-template-rows: auto 1fr 40px;

  .profileSection {
    padding-top: 20px;
    display: grid;
    place-items: center;
    gap: 15px;

    .profileImgContainer {
      padding: 4px;
      border-radius: 50%;
      border: 4px solid @accent-color;

      .profileImg {
        height: 150px;
        width: 150px;
        margin: 0 auto;
        background-color: @text-color;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
  
        img {
          height: 100%;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -o-user-select: none;
          user-select: none;
        }
      }
    }
    
    .userTitle {
      color: @alt-text-color;
    }

    .socialIcons {
      font-size: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      cursor: pointer;
    }
  }

  .dowloadBtn {
    display: grid;
    place-items: center;

    button {
      outline: none;
      background: transparent;
      color: @text-color;
      border: 2px solid @text-color;
      padding: 10px 20px;
      border-radius: 20px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: @sub-color;
        background-color: @text-color;
      }
    }
  }

  .footer {
    color: @alt-text-color;
    font-size: 12px;
    text-align: center;
  }
}

.animateDiv {
  // background-color: rgba(0, 20, 50, 0.3);
}
 
.mainContent {
  background-color: rgba(0, 20, 50, 0.3);
  height: 100%;
  position: relative;
}

.homeContent {
  background-color: @main-color;
  height: 100%;
  position: relative;

  &:before {
    z-index: 5;
    position:absolute;
    width: 180px;
    height: 50px;
    border-color: @accent-color;
    border-style: solid;
    content: '';
  }
  
  &:before {
    top: 20;
    left: 20;
    border-radius: 1px;
    border-width: 2px 0 0 0;
  }
}

.outerControls {
  width: 100%;
  display: grid;
  align-content: space-between;
}

.mainControl {
  background-color: @main-color;
  display: grid;
  gap: 20px;
  justify-items: center;
  padding: 20px;
  border-radius: 50px;
}

.faIconsActive,
.faIcons {
  cursor: pointer;
  font-size: 25px;

  &:hover {
    color: @accent-color;
  }
}

.faIconsActive {
  color: @accent-color;
  transform: scale(1.2);
}

.navControl {
  background-color: @sub-color;
}

.contactContainer,
.greetingsContainer,
.experienceContainer {
  max-height: calc(77vh - (40px + 3.17em));
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.contact,
.experience {
  padding: 20px;
  border-left: 2px dotted @accent-color;
  border-bottom: 2px dotted @accent-color;
  letter-spacing: 0.15ch;
  cursor: pointer;
  color: @text-color;

  h5 {
    color: @accent-color;
  }

  h6 {
    font-weight: normal;
  }

  h5, h6 {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
  }

  p, li {
    font-size: 12px;
    padding: 5px;
    margin: 0;
  }

  &:nth-child(even) {
    border-right: 2px dotted @accent-color;
    border-left: none;
  }

  &:last-child {
    border-bottom: none;
  }
}


